#services {
    margin-top: 100px;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.services-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.service {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: none;
}

.service img {
    width: 45px;
    height: 45px;
}

.service span {
    font-weight: 600;
}


@media (min-width: 62em){
    .service {
        flex-direction: row;
        align-items: center;
        gap: 50px;
    }
    #services h2 {
        padding-left: 90px;
    }
}